.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--nav-bar-height);
  background-color: var(--nav-bar-color);
  /* z-index: 10; */
  display: grid;
  grid-template-columns: 24rem 1fr 7rem;
  transition: all 0.15s ease-out;
  z-index: 20;
}
.nav-bar .nav-bar-home {
  font-family: righteous;
  font-size: 2.7rem;
  letter-spacing: 0.1rem;
}
.nav-bar button {
  font-size: 2rem;
  outline: 1px dotted #ffffff00;
  transition: all 0.15s ease-out;
}
