/* @font-face {
  font-family: topsecret;
  src: url("../fonts/top-secret.ttf");
  font-style: normal;
} */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* font-family: poppins, Verdana, sans-serif; */
  line-height: 1.5;
  font-weight: 400;
  font-size: 10px;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --nav-bar-height: 5rem;
  --text-col: white;
  --red: #9e2828;
  --green: #228B22;
  /* #32CD32 */
  --blue: #335291;
}

button {
  background-color: #00000000;
}
button:hover {
  cursor: pointer;
}

.page {
  position: relative;
  /* width: 100vw; */
  max-height: 100vh;
}
.content {
  margin-top: 5rem;
  width: 100%;
  overflow-y: hidden;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mask {
  position: fixed;
  display: block;
  top: 0px;
  left: 0px;
  background-color: #0000009f;
  min-width: 100vw;
  min-height: 100vh;
  z-index: 1000;
}

