@font-face {
  font-family: righteous;
  src: url("../assets/fonts/righteous.ttf");
  font-style: normal;
}
/* * {
  outline: 1px dashed blue;
} */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* font-family: poppins, Verdana, sans-serif; */
  line-height: 1.5;
  font-weight: 400;
  font-size: 10px;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --nav-bar-height: 5rem;
  --transition-time: 0.12s;
  --text-col: white;
  --red: #9e2828;
  --green: #228B22;
  /* #32CD32 */
  --blue: #335291;
  --dark-blue-gray-1: #2d2b38;
  --light-blue-gray-1: #3b3752;
  --light-blue-gray-2: #423c64;
  --nav-bar-color: #1e1d29;
}

button {
  background-color: #00000000;
}
button:hover {
  cursor: pointer;
}
label {
  display: block;
  font-size: 1.5rem;
  margin: 0rem 1rem;
  margin-bottom: 0.2rem;
}
input, select {
  outline: 2px solid #00000067;
  padding: 0.5rem 1rem;
  color: white;
  font-size: 1.6rem;
  border-radius: 10px;
  margin: 0rem 1rem;
  background-color: var(--light-blue-gray-1);
  transition: all var(--transition-time) ease-out;
}
input:focus,
select:focus {
  outline: 3px solid var(--blue);
}
.submit-button {
  padding: 0.5rem 4rem;
  font-size: 1.8rem;
  font-weight: 500;
  border: 2px solid #cbc8db9d;
  margin-top: 2.5rem;
  outline: 1px solid #00000000;
  background-color: var(--light-blue-gray-1);
  border-radius: 23px;
  box-shadow: 3px 3px 5px #00000054;
  transition: all 0.15s ease-out;
}
.submit-button:hover,
.submit-button:focus {
  outline: 1px solid var(--blue);
  background-color: var(--light-blue-gray-2);
  box-shadow: 5px 5px 7px #0000006e;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.678);
}

.page {
  position: relative;
  /* width: 100vw; */
  max-height: 100vh;
    overflow-y: hidden;
}
.content {
  margin-top: 5rem;
  width: 100%;
  display: flex;
  /* overflow-y: hidden; */
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mask {
  position: fixed;
  display: block;
  top: 0px;
  left: 0px;
  background-color: #0000009f;
  min-width: 100vw;
  min-height: 100vh;
  z-index: 1000;
}
.mask:hover {
  cursor: pointer;
}
.form-error {
  font-family: poppins;
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0.6rem 1rem -1.5rem;
  color: #ff163d;
  text-shadow: 1px 1px 2px #00000085;
  text-align: center;
}

.new-project-form {
  position: fixed;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
  z-index: 1001;
  background-color: var(--dark-blue-gray-1);
  padding: 3rem 5rem;
  border-radius: 23px;
  border: 2px solid #554e80;
  box-shadow: 5px 5px 11px #000000dc;
}
.new-project-form h3 {
  font-size: 2.3rem;
  text-align: center;
  margin: -2rem 0rem 1.5rem 0rem;
}
.new-project-form input {
  width: 27rem;
}
.new-project-form .submit-button {
  margin-top: 3.5rem;
}


.project-content {
  width: 100%;
  height: calc(100vh - var(--nav-bar-height));
  /* background-color: green; */
}
.project-content-head {
  /* position: relative; */
  width: 100%;
  height: 10.4rem;
  background-color: var(--dark-blue-gray-1);
  box-shadow: 0px 5px 7px #00000021;
  border-bottom: 1px solid #ffffff2c;
  border-left: 1px solid #ffffff2c;
}
.project-content-head .head {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.616);
}
.project-content-head .head h1 {
  font-size: 3rem;
}
.project-content-head .filter-button {
  margin-left: 1.5rem;
  width: 5rem;
  height: 5rem;
  background-image: url(../assets/img/sliders.svg);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  transform: rotate(-180deg);
}
.project-content-head .head h2 {
  font-size: 2rem;
}
.project-content-head h3 {
  margin-top: 0.3rem;
  font-size: 1.7rem;
}
.project-content-head .todo-head {
  padding: 0rem 3rem;
  display: grid;
  grid-template-columns: 3.7rem 4fr 11rem 11rem 2.7fr 5rem;
}
.project-content-head .add-task {
  width: 2.5rem;
  height: 2.5rem;
  margin-top: 0.3rem;
  background-image: url(../assets/add-task.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 82%;
  background-color: #a49bd4;
  border-radius: 23px;
  outline: 1px solid #ffffff73;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.356);
  transition: all var(--transition-time) ease-out;
}
.project-content-head .add-task:hover,
.project-content-head .add-task:focus {
  width: 2.6rem;
  margin-left: -0.1rem;
  margin-bottom: -0.5rem;
  background-color: #ffffffea;
  outline: 4px solid var(--blue);
}
.project-content-head .edit-project-name {
  font-size: 3rem;
  font-weight: 600;
  padding: 0rem;
  margin: 0rem;
  background-color: #ffffff00;
  outline: none;
  border: none;
  border-radius: 0px;
  z-index: 1001;
}
.project-content-head .edit-project-name:focus {
  font-size: 3rem;
  padding: 0rem;
  margin: 0rem;
  background-color: #ffffff00;
  outline: none;
  border: none;
  border-radius: 0px;
}
.project-content-head .edit-project-date {
  z-index: 1001;
  outline: none;
  border: none;
}
.project-content-head .edit-project-name:focus {
  outline: none;
  border: none;
}

.task-list {
  background-color: #3a3747;
  width: 100%;
  overflow-y: scroll;
  height: calc(100vh - var(--nav-bar-height) - 10.4rem);
  padding: 0.3rem 1.5rem 0rem 3rem;
}
/* .task-list ::-webkit-scrollbar {
  display: none;
} */
.todo-item {
  display: grid;
  grid-template-columns: 3.7rem 4fr 11rem 11rem 2.7fr 5rem;
  padding: 0.8rem 0rem;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.178);
}
.task-list p {
  font-size: 1.4rem;
}
.task-name {
  transform: translateX(-2rem);
  width: calc(100% + 2rem);
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.todo-item .task-name-edit {
  position: relative;
  transform: translateX(-2rem) translateY(-0.1rem);
  width: calc(100% + 2rem);
  border: none;
  outline: none;
  background-color: rgba(0, 128, 0, 0);
  z-index: 1001;
  font-size: 1.4rem;
  margin: 0rem;
  padding: 0rem;
  border-radius: 0px;
}
.task-date {
  text-align: right;
  font-weight: 400;
  transform: translateY(-0.2rem);
  margin-right: 2.3rem;
}
.task-date-edit {
  z-index: 1001;
  background-color: #00000000;
  font-size: 1.4rem;
  outline: none;
  border: none;
  padding: 0rem;
  margin: 0rem;
  padding-left: 3rem;
  width: 120%;
  transform: translateX(-30%) translateY(-0.1rem);
  /* height: 70%; */
}
.task-date-edit:hover,
.task-date-edit:focus {
  outline: none;
  border: none;
  padding: none;
  margin: none;
}
.task-priority {
  padding-left: 1rem;
  margin: -0.7rem 0.8rem -0.7rem 0rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 0px 10px 7px 0px;
  background-image: linear-gradient(45deg, #9e121200, rgba(71, 16, 199, 0.08), rgba(71, 16, 198, 0.255));
  border-left: 2px solid rgba(71, 16, 199, 0.4);
}
.task-priority-edit {
  z-index: 1001;
  margin: 0rem 0.8rem 0rem 0.2rem;
  padding: 0.2rem;
  background-color: #ffffffe3;
  border-radius: 5px;
  height: 115%;
  color: #000000;
  transform: translateY(-10%);
  
}
.task-priority-edit:hover,
.task-priority-edit:focus {
  outline: none;
}
.priority-dot {
  position: absolute;
  top: 50%;
  right: 1rem;
  width: 1rem;
  height: 1rem;
  transform: translateY(-50%);
  border-radius: 20rem;
  outline: 1px solid #00000071;
}
.critical {
  background-image: radial-gradient(circle, #e40909, #e40909c0, #07836811);
  box-shadow: -2px 2px 5px #e4090928,
    2px -2px 5px #e4090928;
}
.high {
  background-image: radial-gradient(circle, #ff6e0d, #f86a0bc0, #07836811);
  box-shadow: -2px 2px 5px #e75d0028,
    2px -2px 5px #e75d0028;
}
.medium {
  background-image: radial-gradient(circle, #e7c502, #e7c502a9, #07836811);
  box-shadow: -2px 2px 5px #e7c50228,
    2px -2px 5px #e7c50228;
}
.low {
  background-image: radial-gradient(circle, #19d432, #19d432a9, #07836811);
  box-shadow: -2px 2px 5px #19d43228,
    2px -2px 5px #19d43228;
}
.very-low {
  background-image: radial-gradient(circle, #11a585, #078368d3, #07836811);
  box-shadow: -2px 2px 7px #05ffc928,
    2px -2px 7px #05ffc928;
}
.task-notes {
  position: relative;
}
.task-notes-edit-div {
  position: fixed;
  left: 50%;
  top: 11%;
  transform: translateX(-50%);
  z-index: 1001;
  background-color: var(--dark-blue-gray-1);
  padding: 1.7rem 5rem;
  border-radius: 23px;
  border: 2px solid #554e80;
  box-shadow: 5px 5px 11px #000000dc;
}
.task-notes-edit-div label {
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
}
.task-notes-edit {
  font-weight: 400;
  width: 50vw;
  min-height: 4.7rem;
  max-height: 53vh;
  height: 50vh;
  outline: 2px solid #00000067;
  padding: 1rem 2rem;
  color: white;
  font-size: 1.6rem;
  border-radius: 10px;
  margin: 0.3rem 1rem;
  background-color: var(--light-blue-gray-1);
  resize: vertical;
  transition: all var(--transition-time) ease-out;
}
.task-notes-edit-div ::-webkit-scrollbar {
  display: none;
}
.task-notes-edit-div .close-button {
  top: 0.3rem;
}

.task-notes-edit:focus {
  outline: 3px solid var(--blue);
}
.task-notes-edit-div button {
  margin: 1.5rem 0rem 0.7rem 0rem;
}

.upload-form {
  position: fixed;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
  z-index: 1001;
  background-color: var(--dark-blue-gray-1);
  padding: 1.7rem 5rem;
  border-radius: 23px;
  border: 2px solid #554e80;
  box-shadow: 5px 5px 11px #000000dc;
}
.upload-form input {
  display: block;
  padding: 0.5rem 1.5rem;
}

.task-filter-div {
  position: fixed;
  left: 50%;
  top: 11%;
  transform: translateX(-50%);
  z-index: 1001;
  background-color: var(--dark-blue-gray-1);
  padding: 1.7rem 5rem;
  border-radius: 23px;
  border: 2px solid #554e80;
  box-shadow: 5px 5px 11px #000000dc;
}
.task-filter-div select {
  width: 30rem;
}